body {
	width: 100%;
	height: 100%;
	margin: 0px;
}

#outer-div {
	background-color: #e6ccff;
	height: 100vh;
}

#top-div {
	background-color: indianred;
	display: flex;
	flex-direction: column;
}

#top-div h4 {
	margin: 10px 0px;
	font-size: 1em;
	text-align: center;
}

#nt-example2 {
	max-height: 1.5em;
	padding: 0px;
	margin: 0 30% 10px 30%;
	/* background: #319795; */
	border-bottom: 1px solid white;
	color: #f2f2f2;
}

#nt-example2 li {
	padding: 0.25em 0px;
	list-style: none;
}

#nt-example2 h4 {
	margin: 0px;
}

@media only screen and (min-width: 600px) {
	#top-div h4 {
		font-size: 2rem;
	}
	#nt-example2 {
		max-height: 3em;
		margin: 0 40% 10px 40%;
	}
}
