body {
	width: 100%;
	height: 100%;
	margin: 0px;
}

#outer-div {
	background-color: #e6ccff;
	height: 100vh;
}

#top-div {
	height: 30vh;
	background-color: indianred;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

#top-div h4 {
	margin: 0px;
	padding: 0px;
	font-size: 2rem;
}
